Source: snapcastc
Maintainer: Christof Schulze <christof@christofschulze.com>
Section: misc
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 12),
 librubberband-dev (>= 1.8.1),
 alsa-utils (>= 1.1.3),
 gcc (>= 6.3.0),
 libasound2-dev (>= 1.1.3),
 libopus-dev (>= 1.1),
 git (>= 1:2.1.0),
 libjson-c-dev (>= 0.12.1),
 libsoxr-dev (>= 0.1.2),
 cmake (>= 3.7.2)

Package: snapcastc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Synchronous Audio Playback
 snapcastc play back audio synchronously that was streamed over the network.
 Very similar to Sonos or LMS. It can cope with shaky networks better through
 usage of UDP and Opus.
