[Unit]
Description=SnapCastC Client
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/snapcastc
ExecStart=/usr/bin/snapcast-client $SNAPCAST_CLIENTOPTS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
RestartSec=15s

[Install]
WantedBy=multi-user.target
