[Unit]
Description=SnapCastC Server
After=network.target

[Service]
EnvironmentFile=-/etc/default/snapcastc
ExecStart=/usr/bin/snapcast-server $SNAPCAST_SERVEROPTS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target
