[Unit]
Description=SnapCastC Server
After=network.target auditd.service

[Service]
EnvironmentFile=-/etc/default/snapcastc
ExecStart=/usr/bin/snapcast-server $SNAPCAST_SERVEROPTS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=notify

[Install]
WantedBy=multi-user.target
Alias=snapcastc-server.service
